<div class="container text-center">
<h2 class="text-danger">404</h2>

<% if (locals.flash && flash.warning) { %>
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= flash.warning %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if (noExist){ %>
    <p><strong><%=noExist %></strong></p>
<% } %>

Unable to find <strong><samp><%= req.url %></strong></samp>
<% if (locals.flash && flash.err_message) { %>
	<pre><%= flash.err_message %></pre>
<% } %>

<% if (locals.flash && flash.err) { %>
	<pre><%= JSON.stringify(flash.err) %></pre>
<% } %>



</div>