<div class="container" id="index">

<% if(locals.flash) { %>
	<% if(flash.error) { %>
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
	        <%= flash.error.message || flash.error %>
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	        </button>
	    </div>
	<% } %>
<% } %> 

<form class="form my-3" action="/search" method="GET">
	<div class="input-group">
    <input class="form-control form-control-lg" type="text" placeholder="Search Swift Package Registry" id="term" name="term">
    <span class="input-group-append">
    	<button type="submit" class="btn btn-primary">Search</button>
    	</span>
    </input>
    </div>
</form>

<div class="row">
<div class="col-sm-8">
	<h2>Popular Swift Packages</h2>
	<table class="table table-responsive table-striped table-hover">
		<thead class="thead-dark">
			<tr>
			<th scope="col">Repository</th>
			<th scope="col">Description</th>
			</tr>
		</thead>
		<tbody>
	  <% popular_packages.forEach(function(package){ %>
		<tr>
			<td class="package-<%= package.id %>">
				<a href="/<%= package.info.full_name %>">
					<% if (package.description) { %>
						<%= package.description.name %>
					<% } else { %>
						<%= package.info.name %>
					<% } %>
				</a>
			</td>

			<td><%= package.info.description %></td>
		</tr>
	  <% }); %>
	  </tbody>
	  <caption><a href="/all">View all packages</a></caption>
	</table>
	
</div>
<div class="col-sm-4">
	<h2>Recently Added Swift Packages</h2>
	<ul class="list-group list-group-flush">
	  <% recently_created_packages.forEach(function(package){ %>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			<a href="/<%= package.info.full_name %>">
				<% if (package.description) { %>
					<%= package.description.name %>
				<% } else { %>
					<%= package.info.name %>
				<% } %>
			</a>
			<span class="badge badge-primary badge-pill"><%= package.info.stargazers_count %></span>
		</li>
	  <% }); %>
	  </tbody>
	</ul>
	</div>
	</div>
</div>