<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <% if (locals.title) { %>
            <title><%= title %> - <%= whoami.name %></title>
        <% } else { %>
            <title><%= whoami.name %></title>
        <% } %>

        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> <!--<link href="/css/bootstrap.css" rel="stylesheet" media="screen">-->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css" rel="stylesheet" type="text/css">

      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">

        <link rel="stylesheet" type="text/css" href="/css/style.css">
        


	</head>
    <body>
        <div class="container my-2">
            <nav class="navbar navbar-expand-lg navbar-light bg-light rounded my-3">
                <a class="navbar-brand" href="/">
                <img src="/images/Swift_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Swift Package Registry</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="/add" class="nav-link">Add Package</a></li>
                    </ul>
                    <ul class="navbar-nav">
                        <% if (!locals.user) { %>
                            <li class="nav-item"><a href="/login" class="nav-link">Log In</a></li>
                        <% } else { %>
                            <% if(user.isMod) { %>
                                <li class="nav-item"><a href="/mod" class="nav-link">Mod</a></li>
                            <% } %>
                            <li class="nav-item"><a href="/account" class="nav-link" data-toggle="tooltip" title="<%= user.github_login %>">Account</a></li>
                            <li class="nav-item"><a href="/logout" class="nav-link">Log Out</a></li>
                        <% } %>
                    </ul>
                </div>
            </nav>
            <main role="main">
                <%- body %>
            </main>

            <footer class="pt-4 my-3 pt-md-5 border-top">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a href="/whoami"><img src="/images/Swift_logo.png" width="24" height="24" class="mb-2" alt=""></a>
                            <small class="d-block mb-3 text-muted">Copyright &copy; 2020 All rights reserved.</small>
                            <small class="d-block mb-3 text-muted">Swift and the Swift logo are trademarks of Apple Inc.</small>
                        </div>
                        <div class="col">
                            <h5><a href="/about">About</a></h5>
                            <ul class="list-unstyled text-small">
                            	<li><a href="<%= locals.whoami.html_url %>">GitHub App</a></li>
                                <li><a href="https://github.com/twodayslate/swift-package-registry/">GitHub Repository</a></li>
                                <li><a href="https://twitter.com/twodayslate">Twitter</a></li>
                                <li><a href="https://zac.gorak.us">zac.gorak.us</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </footer>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>

        <script type="text/javascript">
        $(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})
		</script>
    </body>
</html>
