<div class="container" id="packages">
	<h2>Processing Swift Packages</h2>
	<table class="table table-responsive table-striped table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Repository</th>
				<th scope="col">Description</th>
				<th scope="col"></th>
				<% if (locals.user && user.isAdmin) { %>
				<th scope="col"></th>
				<% } %>
			</tr>
		</thead>
		<tbody>
	  <% processing_packages.forEach(function(package){ %>
		<tr>
			<td><% if(package.info) { %><a href="/<%= package.info.full_name %>"><%= package.info.full_name %></a><% } %></td>

			<td><% if(package.info) { %><%= package.info.description %><% } %></td>
			<td>
				<form action="/add" method="POST">
					<input type="hidden" id="url" name="url" value="<%= package.info.html_url %>"/>
					<input type="hidden" id="reprocess" name="reprocess" value="True" />
					<button type="submit" class="btn btn-primary">Process</button>
				</form>
			</td>
			<% if (locals.user && user.isAdmin) { %>
				<td><form action="/delete/<%= package.id %>" method="POST"><button type="submit" class="btn btn-danger">Delete</button></form></td>
			<% } %>
		</tr>
	  <% }); %>
	  </tbody>
	</table>

	<h2>All Swift Packages</h2>
	<table class="table table-responsive table-striped table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Repository</th>
				<th scope="col">Description</th>
				<th scope="col">Error</th>
				<th scope="col"></th>
				<% if (locals.user && user.isAdmin) { %>
				<th scope="col"></th>
				<% } %>
			</tr>
		</thead>
		<tbody>
	  <% all_packages.forEach(function(package){ %>
		<tr>
			<td><% if(package.info) { %><a href="/<%= package.info.full_name %>"><%= package.info.full_name %></a><% } else { %><%= package.full_name %><% } %></td>
			<td><% if(package.info) { %><%= package.info.description %><% } %></td>
			<td><%= package.error %></td>
			<td>
				<% if(package.info) { %>
					<form action="/add" method="POST">
						<input type="hidden" id="url" name="url" value="<%= package.info.html_url %>"/>
						<input type="hidden" id="reprocess" name="reprocess" value="True" />
						<button type="submit" class="btn btn-primary">Process</button>
					</form>
				<% } %>
			</td>
			<% if (locals.user && user.isAdmin) { %>
				<td><form action="/delete/<%= package.id %>" method="POST"><button type="submit" class="btn btn-danger">Delete</button></form></td>
			<% } %>
		</tr>
	  <% }); %>
	  </tbody>
	</table>
</div>