<div class="container repo">
	<% if (!package || package.processing || !package.info) { %>
		<div class="text-center">
			<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
	  			<span class="sr-only">Loading...</span>
			</div>
			<p>Package is still processing</p>
		</div>

		<script type="text/javascript">

		    function autoRefreshPage()

		    {

		        window.location = window.location.href;

		    }

		    setInterval('autoRefreshPage()', 10000);

		</script>
	<% } else { %>
		<% if (package.error) { %>
			<h2>Error processing</h2>
			<pre><%= package.error %></pre>
		<% } else { %>
			<div class="jumbotron py-3">
				<div class="row">
					<div class="col">
						<div class="d-flex">
							<h2 class="align-self-baseline"><%= package.info.name %></h2>

							<% var release = package.info.default_branch %>
							<% if (package.latest_release) { release = package.latest_release.tag_name.replace('v','')} %>

							<h3 class="flex-fill align-self-baseline text-muted mx-1"><%= release %></h3>
						</div>
					</div>
					<div class="col d-flex">
						<span class="align-self-baseline align-self-end ml-auto"><a class="github-button" href="https://github.com/<%= package.info.full_name %>" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star <%= package.info.full_name %> on GitHub">Star</a></span>
					</div>	
				</div>

				<div><%= package.info.description %></div>

				<% if(package.topics) { %>
					<div class="my-3">
					<% package.topics.forEach(function(tag) { %>
						<a class="badge badge-primary" href="/search?topic=<%= tag %>"><%= tag %></a>
					<% }) %>
					</div>
				<% } %>

				<a class="btn btn-block btn-social btn-github my-3" href="<%=package.info.html_url %>">
	    			<span class="fa fa-github"></span> <%= package.info.full_name %>
	 			</a>

	 			<% if (package.latest_release) { %>
	 			<div class="card my-3">
	 				<div class="card-body">
						<pre class="my-md-0">.Package(url: "<%= package.info.clone_url %>", .upToNextMajor(from: "<%= package.latest_release.tag_name.replace("v", "") %>"))</pre>
					</div>
				</div>
				<% } %>
				<div class="card my-3">
	 				<div class="card-body">
	 					<pre class="my-md-0">.Package(url: "<%= package.info.clone_url %>", branch: "<%= package.info.default_branch %>")</pre>
	 				</div>
	 			</div>
				
			</div>

			
			<% if(package.latest_release) { %>
				<div class="card my-md-3">
					<h3 class="card-header">What's New</h3>
					<div class="card-body whatsnew">
						<h3 class="card-title"><a href="<%= package.latest_release.html_url %>"><%= package.latest_release.name %></a></h3>
						<h6 class="text-muted card-subtitle"><%= package.latest_release.published_at %></h6>
						<div class="card-text">
							<%- package.latest_release.body %>
						</div>
					</div>
				</div>
			<% } %>

			<div class="row">

			<div class="col-sm-8">
				<div class="readme">
					<%- package.readme || package.readme_html || package.readme_raw %>
				</div>
			</div>

			<div class="col-sm-4">
				<h3>Description</h3>

				<ul class="list-group list-group-flush">
					<li class="list-group-item">Swift Tools <%= package.tools_version %></li>
				</ul>

				<button type="button" class="btn btn-link" data-toggle="modal" data-target=".bd-description-modal">View Raw Output</button>

				<div class="modal fade bd-description-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-xl" role="document">
				    <div class="modal-content">
				    	<div class="modal-header">
					    	<h5 class="modal-title">Description</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					       </div>
				    	<div class="modal-body">
				      		<pre><%= JSON.stringify(package.description, null, 4) %></pre>
				      	</div>
				    </div>
				  </div>
				</div>

				<button type="button" class="btn btn-link" data-toggle="modal" data-target=".bd-dump-modal">View Package</button>

				<div class="modal fade bd-dump-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-xl" role="document">
				    <div class="modal-content">
				    	<div class="modal-header">
					    	<h5 class="modal-title">Package Dump</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					       </div>
				    	<div class="modal-body">
				      		<pre><%= JSON.stringify(package.dump, null, 4) %></pre>
				      	</div>
				    </div>
				  </div>
				</div>

				<h3>Dependencies</h3>

				<ul class="list-group list-group-flush">
				<% if (package.dependencies && package.dependencies.dependencies && package.dependencies.dependencies.length > 0) { %>
					
					<% package.dependencies.dependencies.forEach(function(dep) { %>
						<% let depurl = new URL(dep.url); %>
						<% if (depurl.hostname == "github.com") { %>
							<% let deppath = depurl.pathname.replace('.git', ''); %>
							<li class="list-group-item d-flex justify-content-between align-items-center"><a href="<%= deppath %>"><%= dep.name %></a><span class="badge badge-secondary badge-pill"><%= dep.version %></span></li>
						<% } else { %>
							<li class="list-group-item d-flex justify-content-between align-items-center"><%= dep.name %><span class="badge badge-secondary badge-pill"><%= dep.version %></span></li>
						<% } %>
					<% }) %>
				<% } else { %>
					<li class="list-group-item">None</li>
				<% } %>
				</ul>


				<button type="button" class="btn btn-link" data-toggle="modal" data-target=".bd-example-modal-sm">View Raw Output</button>

				<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-xl" role="document">

				    <div class="modal-content">
				    	<div class="modal-header">
					    	<h5 class="modal-title">Dependencies</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					       </div>
				    	<div class="modal-body">
				      		<pre><%= JSON.stringify(package.dependencies, null, 4) %></pre>
				      	</div>
				    </div>
				  </div>
				</div>
				
			</div>
			</div>

			<small class="text-muted">Last updated: <%= package.updatedAt %></small>
		<% } %>
	<% } %>
</div>